@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,900&family=Noto+Serif:wght@200;400;900&display=swap');

/* font-family: 'Merriweather', serif;
font-family: 'Noto Serif', serif; */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: rgb(36, 35, 35);
    color: #fff;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(36, 35, 35);
    padding: 16px;
    font-family: 'Noto Serif', serif;
    transition: 0.6s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
}

nav.sticky {
    padding: 12px 100px;
    background: crimson;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 2px 10px;
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.1rem;
}

nav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #2c1908;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(20, 21, 16, 255);
    padding: 4rem;
}

.content h1 {
    font-size: 5.5rem;
}

.content p:first-child {
    color: crimson;
}

.content p {
    font-size: 1.2rem;
    color: rgb(168, 153, 153);
    padding: 1% 0;
}

.content p:nth-child(4) {
    margin: 1rem 0;
}

strong {
    color: crimson;
    font-size: 1.6rem;
}

button {
    padding: 2% 6%;
    margin: 3rem 0;
    background: transparent;
    color: crimson;
    font-size: 1.2rem;
    border: 2px solid crimson;
    text-transform: uppercase;
}

.content-image {
    width: 80%;
}

.section-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(36, 35, 35);
    color: #fff;
    padding: 4rem;
    text-align: center;
}

.fas {
    border: 2px solid crimson;
    border-radius: 50%;
    padding: 1rem;
    margin: 0 0 1rem;
    color: crimson;
}

.section-2 p {
    color: rgb(248, 137, 137, 0.6);
}

.product {
    padding: 4rem;
}

h1 {
    text-align: center;
}

.cards {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 16px 64px;
}

.card {
    position: relative;
    width: 200px;
    overflow: hidden;
    /*border: 2px solid crimson; */
    margin: 16px 16px 16px 0;
}

.card-images {
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    overflow: hidden;
}

.card p {
    padding: 6px;
    text-align: center;
}

.card-images img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem;
    object-fit: cover;
    transition: opacity 0.9s ease;
}

.card-images .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
}

.card-images:hover .default-image {
    opacity: 0;
}

.card-images:hover .hover-image {
    opacity: 1;
}

/* Sale */
.sale {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 255);
}

.sale-img {
    width: 20%;
}

/* ----------Blog---------- */
.blogs {
    padding: 2% 0;
}

.blogs h1 {
    font-family: 'Noto Serif', serif;
}

.blog {
    width: 90%;
    margin: 2% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 2rem;
    text-align: justify;
}

.blog-1 {
    margin: 0 24px;
}

.blog-1 p {
    font-size: 1rem;
    padding: 16px 0;
    color: #fff;
    font-family: 'Noto Serif', serif;
}

.blog-1 p:last-child {
    color: #fff;
    font-size: 1rem;
    padding: 0 0 16px;
}

.blog-1 h2 {
    font-size: 1.2rem;
    text-align: left;
    color: rgb(248, 137, 137, 0.6);
    letter-spacing: 1px;
    font-family: 'Merriweather', serif;
}

hr {
    width: 90%;
    margin: auto;
    background-color: crimson;
    height: 1px;
    border: none;
}

/* ----------Footer---------- */

.sec-1 h3 {
    padding-bottom: 1.5rem;
    letter-spacing: 2px;
    font-family: 'Merriweather', serif;
}

.sec-1 a,
p {
    line-height: 1.7rem;
    font-size: 1rem;
    letter-spacing: 1.1px;
    color: rgb(168, 153, 153);
    text-decoration: none;
    font-family: 'Noto Serif', serif;
}

.creator {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 16px;
}

.creator p,
strong {
    font-size: 1rem;
}